<table border="1" xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="post, loop : ${postList}">
        <td >
            <a th:text="${loop.index}" th:href="@{|/post/detail/${post.id}|}"></a>
        </td>
        <td>
            <a th:text="${post.title}" th:href="@{|/post/detail/${post.id}|}"></a>
        </td>
        <td th:text="${#temporals.format(post.createDate, 'yyyy년 MM월 dd일 HH시mm분')}"></td>
    </tr>
    </tbody>
</table>
